
<div class="mousse-follower-page">
  <span class="mousse-follower-pointer-xsmall" [ngStyle]="getCursorPosition()"></span>
  <span class="mousse-follower-pointer-small" [ngStyle]="getCursorPosition()"></span>
  <span class="mousse-follower-pointer-medium" [ngStyle]="getCursorPosition()"></span>
  <span class="mousse-follower-pointer-large" [ngStyle]="getCursorPosition()"></span>
  <span class="mousse-follower-pointer-giant" [ngStyle]="getCursorPosition()"></span>
  <span class="mousse-follower-pointer-xgiant" [ngStyle]="getCursorPosition()"></span>
  <p class="mousse-follower-titre">UN</p>
  <div class="hero-top">
        <h1 class="hero-title typography-body-bold">Apple&nbsp;News+</h1>
        <h2 class="hero-headline typography-section-headline">Hundreds of magazines <br> and leading newspapers.<br> One subscription.
        </h2>
  </div>

  <div>
    <h1>
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
      <br> and leading newspapers.
    </h1>
  </div>
</div>
