<!--<div class="miami-page"></div>-->
<div class="miami-background">
    <div class="miami-stars-1"></div>
    <div class="miami-stars-2"></div>
    <div class="miami-stars-3"></div>
    <div class="miami-stars-4"></div>
    <div class="miami-stars-5"></div>
    <div class="miami-stars-6"></div>
    <div class="miami-stars-7"></div>
    <div class="miami-stars-8"></div>
    <div class="miami-stars-9"></div>
    <div class="miami-stars-10"></div>
    <div class="miami-stars-11"></div>
    <div class="miami-stars-12"></div>
    <div class="miami-stars-13"></div>
    <div class="miami-stars-14"></div>
    <div class="miami-stars-15"></div>
    <div class="miami-stars-16"></div>
    <div class="miami-stars-17"></div>

  <!--<div class="miami-page__background"></div>-->
</div>

<h1 class="titleH1">back to the news</h1>

<div class="miami-animate">
    <div class="miami-animate__sun"></div>
    <div class="miami-animate__lines">
          <div class="miami-animate__lines__geant-bande"></div>
          <div class="miami-animate__lines__Xlarge-bande"></div>
          <div class="miami-animate__lines__large-bande"></div>
          <div class="miami-animate__lines__Xmedium-bande"></div>
          <div class="miami-animate__lines__medium-bande"></div>
          <div class="miami-animate__lines__Xsmall-bande"></div>
    </div>
    <div class="miami-animate__triangles">
      <div class="miami-animate__triangles__triangleLarge1"></div>
      <div class="miami-animate__triangles__triangleLarge2"></div>
      <div class="miami-animate__triangles__triangleLarge3"></div>
      <div class="miami-animate__triangles__triangleLarge4"></div>
      <div class="miami-animate__triangles__triangleLarge5"></div>
      <div class="miami-animate__triangles__triangleSmall1"></div>
      <div class="miami-animate__triangles__triangleSmall2"></div>
      <div class="miami-animate__triangles__triangleSmall3"></div>
      <div class="miami-animate__triangles__triangleSmall4"></div>
      <div class="miami-animate__triangles__triangleSmall5"></div>
      <div class="miami-animate__triangles__triangleSmall6"></div>
      <div class="miami-animate__triangles__triangleSmall7"></div>
      <div class="miami-animate__triangles__triangleSmall8"></div>
      <div class="miami-animate__triangles__triangleSmall9"></div>
      <div class="miami-animate__triangles__triangleSmall10"></div>
      <div class="miami-animate__triangles__triangleSmall11"></div>
      <div class="miami-animate__triangles__triangleSmall12"></div>
      <div class="miami-animate__triangles__triangleSmall13"></div>
    </div>
    <div class="miami-animate__bordure"></div>


    <div class="miami-animate__sol-1"></div>
    <div class="miami-animate__sol-2"></div>
    <div class="miami-animate__sol-3"></div>
    <div class="miami-animate__sol-4"></div>
    <div class="miami-animate__sol-5"></div>
    <div class="miami-animate__sol-6"></div>
    <div class="miami-animate__sol-7"></div>
    <div class="miami-animate__sol-9"></div>
    <div class="miami-animate__sol-10"></div>
    <div class="miami-animate__sol-11"></div>
    <div class="miami-animate__sol-12"></div>
    <div class="miami-animate__sol-13"></div>
    <div class="miami-animate__sol-14"></div>


    <div class="miami-animate__palmiers">
      <img class="miami-animate__palmiers__gauche" src="./assets/images/303638.svg"/>
    </div>
    <button class="miami-animate__car__btn">GO TO NEWS</button>

    <div class="miami-animate__car">
      <div class="miami-animate__car__retroviseurs"></div>
      <div class="miami-animate__car__capot-parebrise-bordure"></div>
      <div class="miami-animate__car__capot-parebrise"></div>
      <div class="miami-animate__car__parebrise-bordure"></div>
      <div class="miami-animate__car__parebrise"></div>

      <div class="miami-animate__car__bordure-capot-parebrise"></div>

      <div class="miami-animate__car__capot-bordure"></div>
      <div class="miami-animate__car__capot">

      </div>

      <div class="miami-animate__car__avant-niveau-1-bordure"></div>
      <div class="miami-animate__car__avant-niveau-1"></div>
      <div class="miami-animate__car__avant-niveau-1-phare">
        <div class="miami-animate__car__avant-niveau-1-phare__gauche-1">
          <div class="miami-animate__car__avant-niveau-1-phare__gauche-1__light"></div>
        </div>
        <div class="miami-animate__car__avant-niveau-1-phare__gauche-2">
          <div class="miami-animate__car__avant-niveau-1-phare__gauche-2__light"></div>
        </div>
        <div class="miami-animate__car__avant-niveau-1-phare__droite-1">
          <div class="miami-animate__car__avant-niveau-1-phare__droite-1__light"></div>
        </div>
        <div class="miami-animate__car__avant-niveau-1-phare__droite-2">
          <div class="miami-animate__car__avant-niveau-1-phare__droite-2__light"></div>
        </div>
      </div>

      <div class="miami-animate__car__avant-niveau-2-bordure"></div>
      <div class="miami-animate__car__avant-niveau-2"></div>

      <div class="miami-animate__car__roue-gauche"></div>
      <div class="miami-animate__car__roue-droite"></div>

      <div class="miami-animate__car__avant-niveau-3-bordure"></div>
      <div class="miami-animate__car__avant-niveau-3"></div>

      <div class="miami-animate__car__avant-niveau-4-bordure"></div>
      <div class="miami-animate__car__avant-niveau-4"></div>

      <div class="miami-animate__car__avant-niveau-5-bordure"></div>
      <div class="miami-animate__car__avant-niveau-5"></div>

      <div class="miami-animate__car__avant-niveau-6-bordure"></div>
      <div class="miami-animate__car__avant-niveau-6"></div>
    </div>

</div>

